dist/about.html
<!DOCTYPE html>
<html>
    <head>
        <title>Sample Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-content about-content" id="main-content">
            <header class="page-header">
                <div class="header-top">
                    <div class="container">
                        <div class="fl-l">пн-пт с 10:00 до 19:00</div>
                        <div class="fl-r">
                            <div class="header-links">
                                <a class="header-link header-link--phone" href="tel:+380933450345">Life +38 093 345 03 45</a>
                                <a class="header-link header-link--phone" href="tel:+380500256707">мтс +38 050 025 67 07</a>
                                <a class="header-link header-link--link" href="javascript:void(0)">Обратная связь</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="fl-l">
                            <a class="logo clearfix" href="javascript:void(0)">
                                <div class="fl-l">
                                    <img src="../img/logo.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </a>
                        </div>
                        <div class="fl-r header-padding">
                            <div class="header-menu">
                                <ul>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для девочек</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мальчиков</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для новорожденных</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мам</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">О нас</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="header-ico header--search" href="javascript:void(0)"></a>
                            <a class="header-ico header--basket" href="javascript:void(0)">
                                <span class="basket-counter">3</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="page-body">
                <section class="section-about">
                    <div class="container">
                        <div class="title">магазин Kids House —
                            <div>О нас</div>
                        </div>
                        <div class="text-wrapper">
                            <div class="fl-l img-wrapper">
                                <img src="img/about-img.jpg" alt="">
                            </div>
                            <p>Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную
                                защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.</p>
                            <p>Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.</p>
                            <p>Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.</p>
                            <p>Преимуществом одежды Lenne является еще и то, что она не нуждается в особом уходе. Все мамы знают, что дети – большие непоседы. Малышей трудно заставить вести себя аккуратно, чтобы не испачкать одежду. Однако купив комбинезон
                                Lenne, вы сможете избавить себя от таких проблем. Чтобы убрать грязь, достаточно протереть вещи мокрой губкой, и они будут выглядеть как новые.</p>
                            <h4>Подзаголовок</h4>
                            <p>Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную
                                защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.</p>
                            <p>Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.</p>
                            <p>Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.</p>
                            <p>Преимуществом одежды Lenne является еще и то, что она не нуждается в особом уходе. Все мамы знают, что дети – большие непоседы. Малышей трудно заставить вести себя аккуратно, чтобы не испачкать одежду. Однако купив комбинезон
                                Lenne, вы сможете избавить себя от таких проблем. Чтобы убрать грязь, достаточно протереть вещи мокрой губкой, и они будут выглядеть как новые.</p>
                            <a class="about-btn" href="javascript:void(0)">Пошив одежды на заказ</a>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="page-footer">
                <div class="full-wrapper">
                    <div class="container">
                        <div class="inside-block">
                            <div class="inside-title">Подпишитесь, чтобы знать про все новинки!</div>
                            <div class="inside-lead">Будьте впереди технологий и получайте много бонусов и скидок</div>
                            <form action="index.html" method="post">
                                <input type="text" name="name" value="" placeholder="Введите Ваш Email">
                                <input type="submit" name="name" value="Подписаться">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-footer">
                    <div class="container">
                        <div class="fl-l footer-block footer-block--main">
                            <div class="logo logo--footer clearfix">
                                <div class="fl-l">
                                    <img src="../img/logo-footer.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </div>
                            <div class="footer-text footer-main-info">
                                <div>© 2016 Kids House</div>
                                <div>Интернет-магазин одежды для детей</div>
                            </div>
                            <a class="footer-link footer-link--main" href="javascript:void(0)">Обратная связь</a>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Доставка и оплата</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Каталог</a>
                                <a class="footer-link" href="javascript:void(0)">Доставка и Оплата</a>
                                <a class="footer-link" href="javascript:void(0)">Обмен и возврат</a>
                                <a class="footer-link" href="javascript:void(0)">Часто задаваемые вопросы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Сервис</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Как выбрать размер</a>
                                <a class="footer-link" href="javascript:void(0)">Регистрация и личный кабинет</a>
                                <a class="footer-link" href="javascript:void(0)">Корзина</a>
                                <a class="footer-link" href="javascript:void(0)">Отзывы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">О нас</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Новости</a>
                                <a class="footer-link" href="javascript:void(0)">Сотруднечиство с нами</a>
                                <a class="footer-link" href="javascript:void(0)">Вакансии</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/common.js"></script>
        <script src="js/all.js"></script>
    </body>
</html>

dev/pug/pug-templates/about.pug
section.section-about
  .container
    .title магазин Kids House — <div>О нас</div>
    .text-wrapper
      .fl-l.img-wrapper
        img(src="img/about-img.jpg", alt="")
      p Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.
      p Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.
      p Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.
      p Преимуществом одежды Lenne является еще и то, что она не нуждается в особом уходе. Все мамы знают, что дети – большие непоседы. Малышей трудно заставить вести себя аккуратно, чтобы не испачкать одежду. Однако купив комбинезон Lenne, вы сможете избавить себя от таких проблем. Чтобы убрать грязь, достаточно протереть вещи мокрой губкой, и они будут выглядеть как новые.
      h4 Подзаголовок
      p Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.
      p Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.
      p Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.
      p Преимуществом одежды Lenne является еще и то, что она не нуждается в особом уходе. Все мамы знают, что дети – большие непоседы. Малышей трудно заставить вести себя аккуратно, чтобы не испачкать одежду. Однако купив комбинезон Lenne, вы сможете избавить себя от таких проблем. Чтобы убрать грязь, достаточно протереть вещи мокрой губкой, и они будут выглядеть как новые.
      a.about-btn(href="javascript:void(0)") Пошив одежды на заказ
