dev/pug/pug-templates/basket.pug
.container
  .basket-block
    h2.catalog-name Ваши покупки -
    h3.catalogzagal корзина
    .basket-table
      table
        tr
          th Фото
          th Название
          th Количество
          th Стоимость
          th Сума
          th &nbsp;
        tr
          td
            a(href="#")
              img(src="./img/item-small-1.jpg")
          td
            a(href="#") Детский костюмчик узорчастый
            span Odji
          td
            input.spinner(type="text",value="1")
          td 379 грн.
          td 379 грн.
          td
            a(href="#")
              img(src="./img/delete.png")
        tr
          td
            a(href="#")
              img(src="./img/item-small-1.jpg")
          td
            a(href="#") Детский костюмчик узорчастый
            span Odji
          td
            input.spinner(type="text",value="1")
          td 379 грн.
          td 379 грн.
          td
            a(href="#")
              img(src="./img/delete.png")
        tr
          td
            a(href="#")
              img(src="./img/item-small-1.jpg")
          td
            a(href="#") Детский костюмчик узорчастый
            span Odji
          td
            input.spinner(type="text",value="1")
          td 379 грн.
          td 379 грн.
          td
            a(href="#")
              img(src="./img/delete.png")
    .basket-itogo
      .basket-promo
        input(type="text", value="", placeholder="Промо код")
        input(type="button", value="Применить")
      .basket-summa
        div
          label Ваша скидка:
          span 0 грн.
        div
          label Итого:
          span.itog 1268 грн.
    .basket-button
      a.btn.finish-order(href="#") Оформить заказ

dist/basket.html
<!DOCTYPE html>
<html>
    <head>
        <title>Sample Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="main-content">
            <header class="page-header">
                <div class="header-top">
                    <div class="container">
                        <div class="fl-l">пн-пт с 10:00 до 19:00</div>
                        <div class="fl-r">
                            <div class="header-links">
                                <a class="header-link header-link--phone" href="tel:+380933450345">Life +38 093 345 03 45</a>
                                <a class="header-link header-link--phone" href="tel:+380500256707">мтс +38 050 025 67 07</a>
                                <a class="header-link header-link--link" href="javascript:void(0)">Обратная связь</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="fl-l">
                            <a class="logo clearfix" href="javascript:void(0)">
                                <div class="fl-l">
                                    <img src="../img/logo.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </a>
                        </div>
                        <div class="fl-r header-padding">
                            <div class="header-menu">
                                <ul>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для девочек</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мальчиков</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для новорожденных</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мам</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">О нас</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="header-ico header--search" href="javascript:void(0)"></a>
                            <a class="header-ico header--basket" href="javascript:void(0)">
                                <span class="basket-counter">3</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="page-body">
                <div class="container">
                    <div class="basket-block">
                        <h2 class="catalog-name">Ваши покупки -</h2>
                        <h3 class="catalogzagal">корзина</h3>
                        <div class="basket-table">
                            <table>
                                <tr>
                                    <th>Фото</th>
                                    <th>Название</th>
                                    <th>Количество</th>
                                    <th>Стоимость</th>
                                    <th>Сума</th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="./img/item-small-1.jpg">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">Детский костюмчик узорчастый</a>
                                        <span>Odji</span>
                                    </td>
                                    <td>
                                        <input class="spinner" type="text" value="1">
                                    </td>
                                    <td>379 грн.</td>
                                    <td>379 грн.</td>
                                    <td>
                                        <a href="#">
                                            <img src="./img/delete.png">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="./img/item-small-1.jpg">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">Детский костюмчик узорчастый</a>
                                        <span>Odji</span>
                                    </td>
                                    <td>
                                        <input class="spinner" type="text" value="1">
                                    </td>
                                    <td>379 грн.</td>
                                    <td>379 грн.</td>
                                    <td>
                                        <a href="#">
                                            <img src="./img/delete.png">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="./img/item-small-1.jpg">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">Детский костюмчик узорчастый</a>
                                        <span>Odji</span>
                                    </td>
                                    <td>
                                        <input class="spinner" type="text" value="1">
                                    </td>
                                    <td>379 грн.</td>
                                    <td>379 грн.</td>
                                    <td>
                                        <a href="#">
                                            <img src="./img/delete.png">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="basket-itogo">
                            <div class="basket-promo">
                                <input type="text" value="" placeholder="Промо код">
                                <input type="button" value="Применить">
                            </div>
                            <div class="basket-summa">
                                <div>
                                    <label>Ваша скидка:</label>
                                    <span>0 грн.</span>
                                </div>
                                <div>
                                    <label>Итого:</label>
                                    <span class="itog">1268 грн.</span>
                                </div>
                            </div>
                        </div>
                        <div class="basket-button">
                            <a class="btn finish-order" href="#">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="page-footer">
                <div class="full-wrapper">
                    <div class="container">
                        <div class="inside-block">
                            <div class="inside-title">Подпишитесь, чтобы знать про все новинки!</div>
                            <div class="inside-lead">Будьте впереди технологий и получайте много бонусов и скидок</div>
                            <form action="index.html" method="post">
                                <input type="text" name="name" value="" placeholder="Введите Ваш Email">
                                <input type="submit" name="name" value="Подписаться">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-footer">
                    <div class="container">
                        <div class="fl-l footer-block footer-block--main">
                            <div class="logo logo--footer clearfix">
                                <div class="fl-l">
                                    <img src="../img/logo-footer.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </div>
                            <div class="footer-text footer-main-info">
                                <div>© 2016 Kids House</div>
                                <div>Интернет-магазин одежды для детей</div>
                            </div>
                            <a class="footer-link footer-link--main" href="javascript:void(0)">Обратная связь</a>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Доставка и оплата</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Каталог</a>
                                <a class="footer-link" href="javascript:void(0)">Доставка и Оплата</a>
                                <a class="footer-link" href="javascript:void(0)">Обмен и возврат</a>
                                <a class="footer-link" href="javascript:void(0)">Часто задаваемые вопросы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Сервис</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Как выбрать размер</a>
                                <a class="footer-link" href="javascript:void(0)">Регистрация и личный кабинет</a>
                                <a class="footer-link" href="javascript:void(0)">Корзина</a>
                                <a class="footer-link" href="javascript:void(0)">Отзывы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">О нас</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Новости</a>
                                <a class="footer-link" href="javascript:void(0)">Сотруднечиство с нами</a>
                                <a class="footer-link" href="javascript:void(0)">Вакансии</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/common.js"></script>
        <script src="js/all.js"></script>
    </body>
</html>
