dev/pug/pug-templates/catalog.pug
.container
  .rightblock
    .catalog---list
      .catalog--item
        label.catalog--item--sale sale
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item2-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        label.catalog--item--new NEW
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item3-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        label.catalog--item--new NEW
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item3-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.

    .page-nav
      ul.pager--list
        li
          a(href="#") <
        li
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li
          span ...
        li
          a(href="#") 5
        li
          a(href="#") 6
        li
          a(href="#") >
      a.btn.btn-blue(href="#") Пошив одежды на заказ

  .leftblock
    h2.catalog-name Трендовая одежда
    h3.catalogzagal Каталог
    .filter-block
      .filter--item
        a.filter-url(href="#") Для мальчика
        a.filter-url(href="#") 80 грн. - 400 грн.
        a.filter-url(href="#") De Adelina
      .filter--item
        .checkbox
          input#cb1(type="checkbox", checked)
          label(for="cb1") Мальчик
        .checkbox
          input#cb2(type="checkbox")
          label(for="cb2") Девочка
      .filter--item
        .filter--item--name Цена:
        .filter--item--sum
          input#filter-min(type="text")
          span
          input#filter-max(type="text")
        div#slider-range
      .filter--item
        .filter--item--name Размеры
        .filter--item--name Для мальчиков - Для девочек
        a.filter-url2(href="#") 2-3 (98)
        a.filter-url2(href="#") 4-5(110)
        a.filter-url2.active(href="#") 6-7(122)
        a.filter-url2(href="#") 8-9(134)
        a.filter-url2(href="#") 3-4 (104)
        a.filter-url2(href="#") 5-6(116)
        a.filter-url2(href="#") 7-8(128)
        a.filter-url2(href="#") 9-10(140)
      .filter--item
        .filter--item--name Материал:
        .checkbox
          input#cb11(type="checkbox", checked)
          label(for="cb11") 50% Хлопок
        .checkbox
          input#cb21(type="checkbox")
          label(for="cb21") Полиестер
      .filter--item
        .filter--item--name Цвет:
        .checkbox-color(style="background:#333742")
          input#cb31(type="checkbox")
          label(for="cb31")
        .checkbox-color(style="background:#6d707b")
          input#cb32(type="checkbox", checked)
          label(for="cb32")
        .checkbox-color(style="background:#e3e4e7")
          input#cb33(type="checkbox", checked)
          label(for="cb33")
        .checkbox-color(style="background:#4542b1")
          input#cb34(type="checkbox")
          label(for="cb34")
        .checkbox-color(style="background:#008bf6")
          input#cb35(type="checkbox")
          label(for="cb35")
        .checkbox-color(style="background:#3fd3ce")
          input#cb36(type="checkbox")
          label(for="cb36")
        .checkbox-color(style="background:#f98d36")
          input#cb37(type="checkbox")
          label(for="cb37")
        .checkbox-color(style="background:#ffea00")
          input#cb38(type="checkbox")
          label(for="cb38")
        .checkbox-color(style="background:#9bcd4c")
          input#cb39(type="checkbox", checked)
          label(for="cb39")
        .checkbox-color(style="background:#e34444")
          input#cb310(type="checkbox")
          label(for="cb310")
        .checkbox-color(style="background:#db8ce4")
          input#cb311(type="checkbox", checked)
          label(for="cb311")
      a.url-clear(href="#") Очистить фильтр

dist/catalog.html
<!DOCTYPE html>
<html>
    <head>
        <title>Sample Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-content" id="main-content">
            <header class="page-header">
                <div class="header-top">
                    <div class="container">
                        <div class="fl-l">пн-пт с 10:00 до 19:00</div>
                        <div class="fl-r">
                            <div class="header-links">
                                <a class="header-link header-link--phone" href="tel:+380933450345">Life +38 093 345 03 45</a>
                                <a class="header-link header-link--phone" href="tel:+380500256707">мтс +38 050 025 67 07</a>
                                <a class="header-link header-link--link" href="javascript:void(0)">Обратная связь</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="fl-l">
                            <a class="logo clearfix" href="javascript:void(0)">
                                <div class="fl-l">
                                    <img src="../img/logo.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </a>
                        </div>
                        <div class="fl-r header-padding">
                            <div class="header-menu">
                                <ul>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для девочек</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мальчиков</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для новорожденных</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мам</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">О нас</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="header-ico header--search" href="javascript:void(0)"></a>
                            <a class="header-ico header--basket" href="javascript:void(0)">
                                <span class="basket-counter">3</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="page-body">
                <div class="container">
                    <div class="rightblock">
                        <div class="catalog---list">
                            <div class="catalog--item">
                                <label class="catalog--item--sale">sale</label>
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item2-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <label class="catalog--item--new">NEW</label>
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item3-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <label class="catalog--item--new">NEW</label>
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item3-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                        </div>
                        <div class="page-nav">
                            <ul class="pager--list">
                                <li>
                                    <a href="#">
                                        <</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <span>...</span>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">6</a>
                                </li>
                                <li>
                                    <a href="#">></a>
                                </li>
                            </ul>
                            <a class="btn btn-blue" href="#">Пошив одежды на заказ</a>
                        </div>
                    </div>
                    <div class="leftblock">
                        <h2 class="catalog-name">Трендовая одежда</h2>
                        <h3 class="catalogzagal">Каталог</h3>
                        <div class="filter-block">
                            <div class="filter--item">
                                <a class="filter-url" href="#">Для мальчика</a>
                                <a class="filter-url" href="#">80 грн. - 400 грн.</a>
                                <a class="filter-url" href="#">De Adelina</a>
                            </div>
                            <div class="filter--item">
                                <div class="checkbox">
                                    <input id="cb1" type="checkbox" checked>
                                    <label for="cb1">Мальчик</label>
                                </div>
                                <div class="checkbox">
                                    <input id="cb2" type="checkbox">
                                    <label for="cb2">Девочка</label>
                                </div>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Цена:</div>
                                <div class="filter--item--sum">
                                    <input id="filter-min" type="text">
                                    <span></span>
                                    <input id="filter-max" type="text">
                                </div>
                                <div id="slider-range"></div>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Размеры</div>
                                <div class="filter--item--name">Для мальчиков - Для девочек</div>
                                <a class="filter-url2" href="#">2-3 (98)</a>
                                <a class="filter-url2" href="#">4-5(110)</a>
                                <a class="filter-url2 active" href="#">6-7(122)</a>
                                <a class="filter-url2" href="#">8-9(134)</a>
                                <a class="filter-url2" href="#">3-4 (104)</a>
                                <a class="filter-url2" href="#">5-6(116)</a>
                                <a class="filter-url2" href="#">7-8(128)</a>
                                <a class="filter-url2" href="#">9-10(140)</a>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Материал:</div>
                                <div class="checkbox">
                                    <input id="cb11" type="checkbox" checked>
                                    <label for="cb11">50% Хлопок</label>
                                </div>
                                <div class="checkbox">
                                    <input id="cb21" type="checkbox">
                                    <label for="cb21">Полиестер</label>
                                </div>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Цвет:</div>
                                <div class="checkbox-color" style="background:#333742">
                                    <input id="cb31" type="checkbox">
                                    <label for="cb31"></label>
                                </div>
                                <div class="checkbox-color" style="background:#6d707b">
                                    <input id="cb32" type="checkbox" checked>
                                    <label for="cb32"></label>
                                </div>
                                <div class="checkbox-color" style="background:#e3e4e7">
                                    <input id="cb33" type="checkbox" checked>
                                    <label for="cb33"></label>
                                </div>
                                <div class="checkbox-color" style="background:#4542b1">
                                    <input id="cb34" type="checkbox">
                                    <label for="cb34"></label>
                                </div>
                                <div class="checkbox-color" style="background:#008bf6">
                                    <input id="cb35" type="checkbox">
                                    <label for="cb35"></label>
                                </div>
                                <div class="checkbox-color" style="background:#3fd3ce">
                                    <input id="cb36" type="checkbox">
                                    <label for="cb36"></label>
                                </div>
                                <div class="checkbox-color" style="background:#f98d36">
                                    <input id="cb37" type="checkbox">
                                    <label for="cb37"></label>
                                </div>
                                <div class="checkbox-color" style="background:#ffea00">
                                    <input id="cb38" type="checkbox">
                                    <label for="cb38"></label>
                                </div>
                                <div class="checkbox-color" style="background:#9bcd4c">
                                    <input id="cb39" type="checkbox" checked>
                                    <label for="cb39"></label>
                                </div>
                                <div class="checkbox-color" style="background:#e34444">
                                    <input id="cb310" type="checkbox">
                                    <label for="cb310"></label>
                                </div>
                                <div class="checkbox-color" style="background:#db8ce4">
                                    <input id="cb311" type="checkbox" checked>
                                    <label for="cb311"></label>
                                </div>
                            </div>
                            <a class="url-clear" href="#">Очистить фильтр</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="page-footer">
                <div class="full-wrapper">
                    <div class="container">
                        <div class="inside-block">
                            <div class="inside-title">Подпишитесь, чтобы знать про все новинки!</div>
                            <div class="inside-lead">Будьте впереди технологий и получайте много бонусов и скидок</div>
                            <form action="index.html" method="post">
                                <input type="text" name="name" value="" placeholder="Введите Ваш Email">
                                <input type="submit" name="name" value="Подписаться">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-footer">
                    <div class="container">
                        <div class="fl-l footer-block footer-block--main">
                            <div class="logo logo--footer clearfix">
                                <div class="fl-l">
                                    <img src="../img/logo-footer.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </div>
                            <div class="footer-text footer-main-info">
                                <div>© 2016 Kids House</div>
                                <div>Интернет-магазин одежды для детей</div>
                            </div>
                            <a class="footer-link footer-link--main" href="javascript:void(0)">Обратная связь</a>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Доставка и оплата</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Каталог</a>
                                <a class="footer-link" href="javascript:void(0)">Доставка и Оплата</a>
                                <a class="footer-link" href="javascript:void(0)">Обмен и возврат</a>
                                <a class="footer-link" href="javascript:void(0)">Часто задаваемые вопросы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Сервис</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Как выбрать размер</a>
                                <a class="footer-link" href="javascript:void(0)">Регистрация и личный кабинет</a>
                                <a class="footer-link" href="javascript:void(0)">Корзина</a>
                                <a class="footer-link" href="javascript:void(0)">Отзывы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">О нас</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Новости</a>
                                <a class="footer-link" href="javascript:void(0)">Сотруднечиство с нами</a>
                                <a class="footer-link" href="javascript:void(0)">Вакансии</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/common.js"></script>
        <script src="js/all.js"></script>
    </body>
</html>
