dist/item.html
<!DOCTYPE html>
<html>
    <head>
        <title>Sample Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="main-content" id="main-content">
            <header class="page-header">
                <div class="header-top">
                    <div class="container">
                        <div class="fl-l">пн-пт с 10:00 до 19:00</div>
                        <div class="fl-r">
                            <div class="header-links">
                                <a class="header-link header-link--phone" href="tel:+380933450345">Life +38 093 345 03 45</a>
                                <a class="header-link header-link--phone" href="tel:+380500256707">мтс +38 050 025 67 07</a>
                                <a class="header-link header-link--link" href="javascript:void(0)">Обратная связь</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="fl-l">
                            <a class="logo clearfix" href="javascript:void(0)">
                                <div class="fl-l">
                                    <img src="../img/logo.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </a>
                        </div>
                        <div class="fl-r header-padding">
                            <div class="header-menu">
                                <ul>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для девочек</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мальчиков</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для новорожденных</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Для мам</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">О нас</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="javascript:void(0)">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="header-ico header--search" href="javascript:void(0)"></a>
                            <a class="header-ico header--basket" href="javascript:void(0)">
                                <span class="basket-counter">3</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="page-body">
                <div class="container">
                    <div class="rightblock">
                        <div class="product-item">
                            <h1>Черный костюм для мальчика от De Adelina</h1>
                            <div class="product--content">
                                <div class="product--img">
                                    <div class="product--img-big">
                                        <img src="./img/item-big.jpg">
                                    </div>
                                    <ul class="product--img-small">
                                        <li class="active">
                                            <a href="./img/item-big.jpg">
                                                <img src="./img/item-small-1.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./img/item-big.jpg">
                                                <img src="./img/item-small-2.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./img/item-small-3.jpg">
                                                <img src="./img/item-small-3.jpg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product--info">
                                    <h3>Характеристика:</h3>
                                    <table>
                                        <tr>
                                            <th>Код:</th>
                                            <td>gd000368159</td>
                                        </tr>
                                        <tr>
                                            <th>ПодТип одежды:</th>
                                            <td>Курточка</td>
                                        </tr>
                                        <tr>
                                            <th>Торговая марка:</th>
                                            <td>De Adel</td>
                                        </tr>
                                        <tr>
                                            <th>Страна-производитель:</th>
                                            <td>Белорусия</td>
                                        </tr>
                                        <tr>
                                            <th>Возраст:</th>
                                            <td>6 лет, 7 лет</td>
                                        </tr>
                                        <tr>
                                            <th>Пол:</th>
                                            <td>Девочка</td>
                                        </tr>
                                        <tr>
                                            <th>Материал:</th>
                                            <td>Поплин</td>
                                        </tr>
                                        <tr>
                                            <th>Состав:</th>
                                            <td>60% хлопок, 40% полиэстр</td>
                                        </tr>
                                    </table>
                                    <h3>Размеры:</h3>
                                    <div class="product--razmeri">
                                        <span>116-122</span>
                                        <span>122-128</span>
                                        <span>128-134</span>
                                        <span>134-140</span>
                                        <span>140-146</span>
                                    </div>
                                    <h3>Варианты цветов:</h3>
                                    <div class="product--color">
                                        <span style="background:#333742"></span>
                                        <span style="background:#6d707b"></span>
                                        <span style="background:#e3e4e7"></span>
                                        <span style="background:#3f66d3"></span>
                                        <span style="background:#000"></span>
                                    </div>
                                    <h3>Цена:</h3>
                                    <div class="product--price">
                                        <div class="col-buy">
                                            <a class="btn btn-buy">Купить</a>
                                            <input id="spinner" type="text" value="1">
                                        </div>
                                        <span>1990.00 грн</span>
                                    </div>
                                </div>
                            </div>
                            <h2>Описание:</h2>
                            <div class="product-description">
                                <p>Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную
                                    защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.</p>
                                <p>Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.</p>
                                <p>Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.</p>
                            </div>
                        </div>
                        <h2 class="h2title">рекомендуемые товары:</h2>
                        <div class="catalog---list">
                            <div class="catalog--item">
                                <label class="catalog--item--sale">sale</label>
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item2-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                            <div class="catalog--item">
                                <label class="catalog--item--new">NEW</label>
                                <a class="catalog--item--wrap-img" href="#">
                                    <img src="./img/item3-img.jpg" alt="">
                                </a>
                                <h3>
                                    <a class="catalog--item--title" href="#">Детский костюмчик узорчастый</a>
                                </h3>
                                <div class="catalog--item--firma">Odji</div>
                                <div class="catalog--item--price">379 грн.
                                    <span class="catalog--item--price-old">479 грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leftblock">
                        <h2 class="catalog-name">Трендовая одежда</h2>
                        <h3 class="catalogzagal">Каталог</h3>
                        <div class="filter-block">
                            <div class="filter--item">
                                <a class="filter-url" href="#">Для мальчика</a>
                                <a class="filter-url" href="#">80 грн. - 400 грн.</a>
                                <a class="filter-url" href="#">De Adelina</a>
                            </div>
                            <div class="filter--item">
                                <div class="checkbox">
                                    <input id="cb1" type="checkbox" checked>
                                    <label for="cb1">Мальчик</label>
                                </div>
                                <div class="checkbox">
                                    <input id="cb2" type="checkbox">
                                    <label for="cb2">Девочка</label>
                                </div>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Цена:</div>
                                <div class="filter--item--sum">
                                    <input id="filter-min" type="text">
                                    <span></span>
                                    <input id="filter-max" type="text">
                                </div>
                                <div id="slider-range"></div>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Размер</div>
                                <a class="filter-url2" href="#">2-3 (98)</a>
                                <a class="filter-url2" href="#">4-5(110)</a>
                                <a class="filter-url2 active" href="#">6-7(122)</a>
                                <a class="filter-url2" href="#">8-9(134)</a>
                                <a class="filter-url2" href="#">3-4 (104)</a>
                                <a class="filter-url2" href="#">5-6(116)</a>
                                <a class="filter-url2" href="#">7-8(128)</a>
                                <a class="filter-url2" href="#">9-10(140)</a>
                                <div class="filter--item--name">Для новорожденных</div>
                                <a class="filter-url2 big" href="#">0-1 мес (56)</a>
                                <a class="filter-url2 big" href="#">3-6 мес (68)</a>
                                <a class="filter-url2 big active" href="#">9-12 мес(80)</a>
                                <a class="filter-url2 big" href="#">18-24 мес (92)</a>
                                <a class="filter-url2 big" href="#">1-3 мес (62)</a>
                                <a class="filter-url2 big" href="#">6-9 мес(74)</a>
                                <a class="filter-url2 big" href="#">12-18мес (86)</a>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Материал:</div>
                                <div class="checkbox">
                                    <input id="cb11" type="checkbox" checked>
                                    <label for="cb11">50% Хлопок</label>
                                </div>
                                <div class="checkbox">
                                    <input id="cb21" type="checkbox">
                                    <label for="cb21">Полиестер</label>
                                </div>
                            </div>
                            <div class="filter--item">
                                <div class="filter--item--name">Цвет:</div>
                                <div class="checkbox-color" style="background:#333742">
                                    <input id="cb31" type="checkbox">
                                    <label for="cb31"></label>
                                </div>
                                <div class="checkbox-color" style="background:#6d707b">
                                    <input id="cb32" type="checkbox" checked>
                                    <label for="cb32"></label>
                                </div>
                                <div class="checkbox-color" style="background:#e3e4e7">
                                    <input id="cb33" type="checkbox" checked>
                                    <label for="cb33"></label>
                                </div>
                                <div class="checkbox-color" style="background:#4542b1">
                                    <input id="cb34" type="checkbox">
                                    <label for="cb34"></label>
                                </div>
                                <div class="checkbox-color" style="background:#008bf6">
                                    <input id="cb35" type="checkbox">
                                    <label for="cb35"></label>
                                </div>
                                <div class="checkbox-color" style="background:#3fd3ce">
                                    <input id="cb36" type="checkbox">
                                    <label for="cb36"></label>
                                </div>
                                <div class="checkbox-color" style="background:#f98d36">
                                    <input id="cb37" type="checkbox">
                                    <label for="cb37"></label>
                                </div>
                                <div class="checkbox-color" style="background:#ffea00">
                                    <input id="cb38" type="checkbox">
                                    <label for="cb38"></label>
                                </div>
                                <div class="checkbox-color" style="background:#9bcd4c">
                                    <input id="cb39" type="checkbox" checked>
                                    <label for="cb39"></label>
                                </div>
                                <div class="checkbox-color" style="background:#e34444">
                                    <input id="cb310" type="checkbox">
                                    <label for="cb310"></label>
                                </div>
                                <div class="checkbox-color" style="background:#db8ce4">
                                    <input id="cb311" type="checkbox" checked>
                                    <label for="cb311"></label>
                                </div>
                            </div>
                            <a class="url-clear" href="#">Очистить фильтр</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="page-footer">
                <div class="full-wrapper">
                    <div class="container">
                        <div class="inside-block">
                            <div class="inside-title">Подпишитесь, чтобы знать про все новинки!</div>
                            <div class="inside-lead">Будьте впереди технологий и получайте много бонусов и скидок</div>
                            <form action="index.html" method="post">
                                <input type="text" name="name" value="" placeholder="Введите Ваш Email">
                                <input type="submit" name="name" value="Подписаться">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-footer">
                    <div class="container">
                        <div class="fl-l footer-block footer-block--main">
                            <div class="logo logo--footer clearfix">
                                <div class="fl-l">
                                    <img src="../img/logo-footer.png" alt="">
                                </div>
                                <div class="fl-r">
                                    <div class="logo-text">Kids House</div>
                                </div>
                            </div>
                            <div class="footer-text footer-main-info">
                                <div>© 2016 Kids House</div>
                                <div>Интернет-магазин одежды для детей</div>
                            </div>
                            <a class="footer-link footer-link--main" href="javascript:void(0)">Обратная связь</a>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Доставка и оплата</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Каталог</a>
                                <a class="footer-link" href="javascript:void(0)">Доставка и Оплата</a>
                                <a class="footer-link" href="javascript:void(0)">Обмен и возврат</a>
                                <a class="footer-link" href="javascript:void(0)">Часто задаваемые вопросы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">Сервис</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Как выбрать размер</a>
                                <a class="footer-link" href="javascript:void(0)">Регистрация и личный кабинет</a>
                                <a class="footer-link" href="javascript:void(0)">Корзина</a>
                                <a class="footer-link" href="javascript:void(0)">Отзывы</a>
                            </div>
                        </div>
                        <div class="fl-l footer-block footer-block--secondary">
                            <div class="footer-title">О нас</div>
                            <div class="footer-text footer-info">
                                <a class="footer-link" href="javascript:void(0)">Новости</a>
                                <a class="footer-link" href="javascript:void(0)">Сотруднечиство с нами</a>
                                <a class="footer-link" href="javascript:void(0)">Вакансии</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/common.js"></script>
        <script src="js/all.js"></script>
    </body>
</html>

dev/pug/pug-templates/item.pug
.container
  .rightblock
    .product-item
      h1 Черный костюм для мальчика от De Adelina
      .product--content
        .product--img
          .product--img-big
            img(src="./img/item-big.jpg")
          ul.product--img-small
            li.active
              a(href="./img/item-big.jpg")
                img(src="./img/item-small-1.jpg")
            li
              a(href="./img/item-big.jpg")
                img(src="./img/item-small-2.jpg")
            li
              a(href="./img/item-small-3.jpg")
                img(src="./img/item-small-3.jpg")
        .product--info
          h3 Характеристика:
          table
            tr
              th Код:
              td gd000368159
            tr
              th ПодТип одежды:
              td Курточка
            tr
              th Торговая марка:
              td De Adel
            tr
              th Страна-производитель:
              td Белорусия
            tr
              th Возраст:
              td 6 лет, 7 лет
            tr
              th Пол:
              td Девочка
            tr
              th Материал:
              td Поплин
            tr
              th Состав:
              td 60% хлопок, 40% полиэстр
          h3 Размеры:
          .product--razmeri
            span 116-122
            span 122-128
            span 128-134
            span 134-140
            span 140-146
          h3 Варианты цветов:
          .product--color
            span(style="background:#333742")
            span(style="background:#6d707b")
            span(style="background:#e3e4e7")
            span(style="background:#3f66d3")
            span(style="background:#000")
          h3 Цена:
          .product--price
            .col-buy
              a.btn.btn-buy Купить
              input#spinner(type="text",value="1")
            span 1990.00 грн
      h2 Описание:
      .product-description
        p Главная особенность этой одежды заключается в том, что она подходит для суровых погодных условий. Ее создают с использованием качественных материалов и утеплителей. Они являются достаточно прочными, что обеспечивает надежную защиту от холода и ветра. Одежда Ленне отлично сохраняет тепло.
        p Важно, что материал не только теплый, но еще легкий, водонепроницаемый и быстросохнущий. Его уникальная поверхность способна оставаться эластичной и мягкой даже при температуре в -25 градусов.
        p Одежда Lenne - это гармоничное сочетание комфорта, молодежного стиля и высочайшего качества. Можете не сомневаться – она непременно понравится вашему ребенку, который будет носить ее с большим удовольствием.

    h2.h2title рекомендуемые товары:
    .catalog---list
      .catalog--item
        label.catalog--item--sale sale
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item2-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.
      .catalog--item
        label.catalog--item--new NEW
        a.catalog--item--wrap-img(href="#")
          img(src="./img/item3-img.jpg", alt="")
        h3
          a.catalog--item--title(href="#") Детский костюмчик узорчастый
        .catalog--item--firma Odji
        .catalog--item--price 379 грн.
          span.catalog--item--price-old 479 грн.

  .leftblock
    h2.catalog-name Трендовая одежда
    h3.catalogzagal Каталог
    .filter-block
      .filter--item
        a.filter-url(href="#") Для мальчика
        a.filter-url(href="#") 80 грн. - 400 грн.
        a.filter-url(href="#") De Adelina
      .filter--item
        .checkbox
          input#cb1(type="checkbox", checked)
          label(for="cb1") Мальчик
        .checkbox
          input#cb2(type="checkbox")
          label(for="cb2") Девочка
      .filter--item
        .filter--item--name Цена:
        .filter--item--sum
          input#filter-min(type="text")
          span
          input#filter-max(type="text")
        div#slider-range
      .filter--item
        .filter--item--name Размер
        a.filter-url2(href="#") 2-3 (98)
        a.filter-url2(href="#") 4-5(110)
        a.filter-url2.active(href="#") 6-7(122)
        a.filter-url2(href="#") 8-9(134)
        a.filter-url2(href="#") 3-4 (104)
        a.filter-url2(href="#") 5-6(116)
        a.filter-url2(href="#") 7-8(128)
        a.filter-url2(href="#") 9-10(140)
        .filter--item--name Для новорожденных
        a.filter-url2.big(href="#") 0-1 мес (56)
        a.filter-url2.big(href="#") 3-6 мес (68)
        a.filter-url2.big.active(href="#") 9-12 мес(80)
        a.filter-url2.big(href="#") 18-24 мес (92)
        a.filter-url2.big(href="#") 1-3 мес (62)
        a.filter-url2.big(href="#") 6-9 мес(74)
        a.filter-url2.big(href="#") 12-18мес (86)
      .filter--item
        .filter--item--name Материал:
        .checkbox
          input#cb11(type="checkbox", checked)
          label(for="cb11") 50% Хлопок
        .checkbox
          input#cb21(type="checkbox")
          label(for="cb21") Полиестер
      .filter--item
        .filter--item--name Цвет:
        .checkbox-color(style="background:#333742")
          input#cb31(type="checkbox")
          label(for="cb31")
        .checkbox-color(style="background:#6d707b")
          input#cb32(type="checkbox", checked)
          label(for="cb32")
        .checkbox-color(style="background:#e3e4e7")
          input#cb33(type="checkbox", checked)
          label(for="cb33")
        .checkbox-color(style="background:#4542b1")
          input#cb34(type="checkbox")
          label(for="cb34")
        .checkbox-color(style="background:#008bf6")
          input#cb35(type="checkbox")
          label(for="cb35")
        .checkbox-color(style="background:#3fd3ce")
          input#cb36(type="checkbox")
          label(for="cb36")
        .checkbox-color(style="background:#f98d36")
          input#cb37(type="checkbox")
          label(for="cb37")
        .checkbox-color(style="background:#ffea00")
          input#cb38(type="checkbox")
          label(for="cb38")
        .checkbox-color(style="background:#9bcd4c")
          input#cb39(type="checkbox", checked)
          label(for="cb39")
        .checkbox-color(style="background:#e34444")
          input#cb310(type="checkbox")
          label(for="cb310")
        .checkbox-color(style="background:#db8ce4")
          input#cb311(type="checkbox", checked)
          label(for="cb311")
      a.url-clear(href="#") Очистить фильтр
